<h2>Posturometria</h2>
<div class="row cuerpo">
    <ngb-tabset type="pills">
        <ngb-tab>
            <ng-template ngbTabTitle><b>Info paciente</b></ng-template>
            <ng-template ngbTabContent>
                
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Vista anterior</b></ng-template>
            <ng-template ngbTabContent>
                <form id="formPreguntasVistaAnterior" name="formPreguntasVistaAnterior" #formPreguntasVistaAnterior="ngForm" (ngSubmit)="submitVistaAnterior(formPreguntasVistaAnterior)">    
                    <div class="row preguntas" *ngFor="let qa of infoPreguntas.preguntasVistaAnterior">
                        <div class="col-12" >
                            <label><b>{{qa.label}}</b></label>
                        </div>
                        <br>
                        <div class="col-12" >
                            <div class="col-6">
                                <div class="btn-group btn-group-toggle" ngbRadioGroup id="{{qa.id}}" name="{{qa.name}}">
                                    <label ngbButtonLabel class="btn-light" *ngFor="let q of qa.options" >
                                        <input ngbButton type="radio" name="{{qa.name}}" [value]="q.id" [(ngModel)]="this[qa.name]"> {{q.name}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <label><b>Observaciones</b></label><br>
                                <textarea cols="50" rows="2" id="{{qa.comment}}"  name="{{qa.comment}}" [value]="qa.comment" [(ngModel)]="this[qa.comment]"></textarea>
                            </div>
                            
                        </div>
                        <br>
                        <hr class="col-12"/>
                    </div>
                    <button class="btn btn-primary" id="enviar" name="enviar" type="submit">Enviar</button>    
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Vista lateral</b></ng-template>
            <ng-template ngbTabContent>
                <form id="formpreguntasVistaLateral" name="formpreguntasVistaLateral" #formpreguntasVistaLateral="ngForm" (ngSubmit)="submitVistaLateral(formpreguntasVistaLateral)">    
                    <div class="row preguntas" *ngFor="let qa of infoPreguntas.preguntasVistaLateral">
                        <div class="col-12" >
                            <label><b>{{qa.label}}</b></label>
                        </div>
                        <br>
                        <div class="col-12" >
                            <div class="col-6">
                                <div class="btn-group btn-group-toggle" ngbRadioGroup id="{{qa.id}}" name="{{qa.name}}">
                                    <label ngbButtonLabel class="btn-light" *ngFor="let q of qa.options" >
                                        <input ngbButton type="radio" name="{{qa.name}}" [value]="q.id" [(ngModel)]="this[qa.name]"> {{q.name}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <label><b>Observaciones</b></label><br>
                                <textarea cols="50" rows="2" id="{{qa.comment}}"  name="{{qa.comment}}" [value]="qa.comment" [(ngModel)]="this[qa.comment]"></textarea>
                            </div>
                            
                        </div>
                        <br>
                        <hr class="col-12"/>
                    </div>
                    <button class="btn btn-primary" id="enviar" name="enviar" type="submit">Enviar</button>    
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Vista posterior</b></ng-template>
            <ng-template ngbTabContent>
                    <form id="formpreguntasVistaPosterior" name="formpreguntasVistaPosterior" #formpreguntasVistaPosterior="ngForm" (ngSubmit)="submitVistaPosterior(formpreguntasVistaPosterior)">    
                    <div class="row preguntas" *ngFor="let qa of infoPreguntas.preguntasVistaPosterior">
                        <div class="col-12" >
                            <label><b>{{qa.label}}</b></label>
                        </div>
                        <br>
                        <div class="col-12" >
                            <div class="col-6">
                                <div class="btn-group btn-group-toggle" ngbRadioGroup id="{{qa.id}}" name="{{qa.name}}">
                                    <label ngbButtonLabel class="btn-light" *ngFor="let q of qa.options" >
                                        <input ngbButton type="radio" name="{{qa.name}}" [value]="q.id" [(ngModel)]="this[qa.name]"> {{q.name}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <label><b>Observaciones</b></label><br>
                                <textarea cols="50" rows="2" id="{{qa.comment}}"  name="{{qa.comment}}" [value]="qa.comment" [(ngModel)]="this[qa.comment]"></textarea>
                            </div>
                        </div>
                        <br>
                        <hr class="col-12"/>
                    </div>
                    <button class="btn btn-primary" id="enviar" name="enviar" type="submit">Enviar</button>
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Analisis postural</b></ng-template>
            <ng-template ngbTabContent>
                
            </ng-template>
        </ngb-tab>


    </ngb-tabset>
</div>