<nav class="principal navbar navbar-expand-lg">
    <a class="principal navbar-brand" [routerLink]="['/index']">Salud Vida</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="principal nav-item nav-link" [routerLink]="['/anamnesis']" [routerLinkActive]="['is-active']">Anamnesis</a>
            <a class="principal nav-item nav-link" [routerLink]="['/posturometria']" [routerLinkActive]="['is-active']">Posturometria</a>
            <a class="principal nav-item nav-link" [routerLink]="['/antropometria']" [routerLinkActive]="['is-active']">Antropometria</a>
            <a class="principal nav-item nav-link" [routerLink]="['/register']" [routerLinkActive]="['is-active']">Register</a>
            <a class="principal nav-item nav-link" [routerLink]="['/useradmin']" [routerLinkActive]="['is-active']">Admin</a>
            <a class="principal nav-item nav-link" [routerLink]="['/fsm']" [routerLinkActive]="['is-active']">FSM</a>
            <a class="principal nav-item nav-link" [routerLink]="['/test-fisico']" [routerLinkActive]="['is-active']">Test Fisico</a>
            <a class="principal nav-item nav-link" [routerLink]="['/nutricion']" [routerLinkActive]="['is-active']">Nutrición</a>
        </div>
    </div>
</nav>