<h1 class="text-center">Test Físico</h1>
<ngb-tabset type="pills" #t="ngbTabset">
    <ngb-tab id="infoPaciente">
        <ng-template ngbTabTitle><b>Info paciente</b></ng-template>
        <ng-template ngbTabContent>
            <fieldset class="card card-body bg-light">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <br>  <label for="nombre">Nombre: </label> 
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="testFisico.nombre"/>
                    </div>
                    <div class="col-sm-6">
                        <br>  <label for="edad">Edad: </label> 
                        <input type="number" class="form-control" id="edad" name="edad" [(ngModel)]="testFisico.edad"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="genero">Genero: </label><br>
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="genero" [(ngModel)]="testFisico.genero">
                            <label ngbButtonLabel class="btn-light">
                                <input ngbButton type="radio" value="1"> Masculino
                            </label>
                            <label ngbButtonLabel class="btn-light">
                                <input ngbButton type="radio" value="2"> Femenino
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <p>
                <button class="btn btn-outline-primary" (click)="t.select('tests')">Siguiente</button>
            </p>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="tests">
        <ng-template ngbTabTitle><b>Test Fisico</b></ng-template>
        <ng-template ngbTabContent>
            <fieldset class="card card-body bg-light">
                <h2 class="text-center"><b>TEST DE RESISTENCIA AEROBICA</b></h2>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label><b>FC 1</b></label><br>
                        <input type="number" class="form-control" id="fc1TestAerobica" name="fc1TestAerobica" [(ngModel)]="testFisico.fc1TestAerobica"/>
                    </div>
                    <div class="col-sm-4">
                        <label><b>FC 2</b></label><br>
                        <input type="number" class="form-control" id="fc2TestAerobica" name="fc2TestAerobica" [(ngModel)]="testFisico.fc2TestAerobica"/>
                    </div>
                    <div class="col-sm-4">
                        <label><b>FC 3</b></label><br>
                        <input type="number" class="form-control" id="fc3TestAerobica" name="fc3TestAerobica" [(ngModel)]="testFisico.fc3TestAerobica"/>
                    </div>
                </div>
            </fieldset>
            <fieldset class="card card-body bg-light">
                <h2 class="text-center"><b>TEST DE RESISTENCIA MIXTA</b></h2>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label><b>FC 1</b></label><br>
                        <input type="number" class="form-control" id="fc1TestMixta" name="fc1TestMixta" [(ngModel)]="testFisico.fc1TestMixta"/>
                    </div>
                    <div class="col-sm-4">
                        <label><b>FC 2</b></label><br>
                        <input type="number" class="form-control" id="fc2TestMixta" name="fc2TestMixta" [(ngModel)]="testFisico.fc2TestMixta"/>
                    </div>
                    <div class="col-sm-4">
                        <label><b>FC 3</b></label><br>
                        <input type="number" class="form-control" id="fc3TestMixta" name="fc3TestMixta" [(ngModel)]="testFisico.fc3TestMixta"/>
                    </div>
                </div>
            </fieldset>
            <fieldset class="card card-body bg-light">
                <h2 class="text-center"><b>TEST DE FUERZA</b></h2>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label><b>Ejercicio x tiempo (min)</b></label> 
                    </div>
                    <div class="col-sm-4">
                        <label><b>Cantidad</b></label>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Tecnica</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>Sentadilla x 1 min</label> 
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="sentadillaCantidad" name="sentadillaCantidad" [(ngModel)]="testFisico.sentadillaCantidad"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="sentadillaTecnica" name="sentadillaTecnica" [(ngModel)]="testFisico.sentadillaTecnica"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>Flexiones de Brazos x 1 min</label> 
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="flexionesCantidad" name="flexionesCantidad" [(ngModel)]="testFisico.flexionesCantidad"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="flexionesTecnica" name="flexionesTecnica" [(ngModel)]="testFisico.flexionesTecnica"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>Abdominales x 1 min</label> 
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="abdominalesCantidad" name="abdominalesCantidad" [(ngModel)]="testFisico.abdominalesCantidad"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="abdominalesTecnica" name="abdominalesTecnica" [(ngModel)]="testFisico.abdominalesTecnica"/>
                    </div>
                </div>
            </fieldset>
            <fieldset class="card card-body bg-light">
                <h2 class="text-center"><b>TEST DE FLEXIBILIDAD</b></h2>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Inclinación tronco de pie sobre banco	</label> 
                    </div>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="inclinacionTronco" name="inclinacionTronco" [(ngModel)]="testFisico.inclinacionTronco" /> cm
                    </div>
                </div>
            </fieldset>
            <p>
                <button class="btn btn-outline-secondary" (click)="t.select('infoPaciente')">Atras</button>
                <button class="btn btn-outline-primary" (click)="t.select('observaciones')">Siguiente</button>
            </p>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="observaciones">
        <ng-template ngbTabTitle><b>Observaciones</b></ng-template>
        <ng-template ngbTabContent>
            <fieldset class="card card-body bg-light">
                <div class="form-group row">
                    <textarea type="text" placeholder="Por favor diligencia las observaciones" rows="10" class="form-control" id="observaciones" name="observaciones" [(ngModel)]="testFisico.observaciones">
                    </textarea>
                </div>
            </fieldset>
            <p>
                <button class="btn btn-outline-secondary" (click)="t.select('tests')">Atras</button>
                <button class="btn btn-outline-primary" >Guardar</button>
            </p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>