@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
.principal {
    background-color: rgb(233, 84, 32);
    color: #fff !important;
}

.cuerpo {
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 20px;
}

.preguntas {
    margin: 10px;
}